@charset "utf-8";
@use "sass:color";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  14px;
$base-line-height: 1.5;

$spacing-unit:     30px;
$spacing-unit-sm:  15px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light:  #d1d1d1;
$grey-color-dark:  #3e3e3e;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vertical-rhythm {
  margin-bottom: $spacing-unit-sm;
}

#results-container {
  margin-top: $spacing-unit;
}

#search-demo-container {
  max-width: 40em;
  padding: 1em;
  margin: 3em auto;
  border: 1px solid lightgrey;
}

#search-input {
  display: inline-block;
  padding: .5em;
  width: 100%;
  font-size: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.info-text {
  margin-top: 20px;
}

.search-highlight {
  background-color: #ffff00;
  font-weight: bold;
  padding: 0 2px;
}

.search-desc {
  font-size: 0.9em;
  color: $grey-color-dark;
  margin: 0.3em 0;
}